# Tüm katılımcılar için yerel gradle ve build dizinlerini önemseme
.gradle/
bin/
build/
.idea/
# Repositoryde atlanmak istenen diğer dosyalar dizinleriyle buraya eklenebilir
/VolkanGenel/gradlew
/VolkanGenel/gradlew.bat
